.regalo {
    text-align: center;
}

.linkcbu {
    margin: 15px 0;
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
}

.collapsable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.collapsable .toggle {
    background-color: #fff;
    border: 1px solid #000;
    width: 470px;
    height: 40px;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 600;
    padding: 0.3em;
    border-radius: 5px;
    color: #000;
}

.collapsable .infobanco-parent {
    border: 1px solid #000;
    border-radius: 5px;
    padding: .5rem;
    z-index: -10;
    margin-top: -5px;
    margin-bottom: .5em;
    height: 0px;
    width: 452px;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
    .collapsable .infobanco-parent {
        width: 90%;
    }

    .collapsable .toggle {
        width: 95%;
    }
}

.collapsable .infobanco-parent p {
    margin: 5px 0;
}

.collapsable .infobanco-parent.show {
    height: 0;
}